.loader {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}

/* -----------------------------------------------------------------------------
 * Global styles
 * -------------------------------------------------------------------------- */
$btn: #005ea5;
$btn-hover: #2b8cc4;
$link: #1a9cff;


html { font-size: 62.5%; }

body {
	padding: 0;
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica, arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2.3rem;
	color: #0b0c0c;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 0 1.6rem;
	text-align: center;

	@media (min-width: 768px) {
		width: 70%;
		margin: 0 auto;
	}
}

header,
footer {
	padding: 1.8rem 1.6rem;
	text-align: center;
	color: #ffffff;
	background-color: #000000;

	p { margin: 0; }
}

h1 { font-size: 4.8rem; }

h1,
h2,
h3 {
	margin-bottom: .8rem;
	line-height: 3.2rem;
}

a {
	color: $link;
	font-weight: bold;

	&:hover {
		color: $link;
	}
}

p {
	margin: 1.6rem 0;
}

form {
	display: flex;
	justify-content: center;

	button[type=submit] { margin-left: .8rem; }
}

input {
  display: inline-block;
  min-width: 250px;
  padding: .375rem .75rem;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: .1rem solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  color: #ffffff;
  background-color: $btn;
  border-color: $btn;
  padding: .375rem .75rem;
  font-size: 1.8rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  align-self: flex-end;

  &:hover {
  	color: #ffffff;
  	background-color: $btn-hover;
  	border-color: $btn-hover;
  	cursor: pointer;
  }
}
