.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}

/* -----------------------------------------------------------------------------
 * Global styles
 * -------------------------------------------------------------------------- */

html {
	font-family: Verdana, Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-align: center;

	@media (min-width: 768px) {
		width: 80%;
		margin: 0 auto;
	}
}

footer {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

a {
	color: lightblue;
}

form {
	display: flex;
	justify-content: center;

	button[type=submit] { margin-left: .8rem; }
}

input {
	display: inline-block;
	min-width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: .1rem solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: .1rem solid #000000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
    	color: #ffffff;
    	background-color: #000000;
    	cursor: pointer;
    }
}