@import "../../scss/common";

.vis-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.FormField {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @media (min-width: $bp-small) {
    width: auto;
  }

  &__Error { margin-bottom: .8rem; }

  &__Label {
    @extend .vis-hide;
  }

  &__Input {
    height: 4rem;
    @media (min-width: $bp-small) {
      height: auto;
    }
  }
}
